* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        font-family: 'Popins', Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #373737;
        background-color: ivory;
        display: flex;
        flex-direction: column;
}

h1 {
        font-size: 48px;
        font-weight: 900;
}

h1, h2 {
        line-height: 1.2;
        margin-bottom: 24px;
}

h3 {
        line-height: 1.1;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 18px;
}

h2 {
        font-size: 36px;
        text-align: center;
        font-weight: bold;
        padding: 16px 0;
}

.nav-bar {
        background-color: #352247;
        color: bisque;
        padding: 32px 0;
        flex: 1;
}


.container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 64px 32px
}

.nav-bar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 32px;
        gap: 16px;
}

.nav-bar ul {
        list-style-type: none;
        color: bisque;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        flex: 0 0 auto;
}


.nav-bar a {
        text-decoration: none;
        color: bisque;
}

.nav-bar a:hover {
        color: #9d3814;
}

.logo {
        font-size: 34px;
        font-weight: 800;
        font-style: italic;
        flex: 2 0 auto;
}

.header {
        background-color: #352247;
        padding: 64px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
}


.header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: bisque;
        gap: 32px; 
        flex-wrap: wrap;
        flex: 1;
}

.hero-text {
        max-width: 600px;
        min-width: 400px;
        flex: 2;
        display: flex;
        flex-direction: column;
}

.header h1 {
        font-size: 48px;
        flex: 1;
}

.header p {
        margin-bottom: 16px;
        font-size: 18px;
        text-align: justify;
        flex: 1;
}

#contact input {
        background-color: #9d3814;
        border: none;
        padding: 16px 32px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
        color: bisque;
        flex: 1;
}

.header img {
        max-width: 500px;
        max-height: 300px;
        flex: 1 1 auto;
}

.services {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
}


.vignettes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        gap: 50px;
        padding: 64px 0;
        flex: 1;
}

.info {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        flex: 1 1 auto;
}

.info img {
        border: 2px solid #270b41;
        border-radius: 10px;
        margin-bottom: 16px;
}



.citation {
        background-color: #9c70c5a0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

}

.citation .container {
        padding: 64px 80px;
        max-width: 1000px;
        flex: 0 1 auto;
        margin: 32px 0;
}

blockquote {
        font-size: 36px;
        font-style: italic;
        font-weight: lighter; 
        margin-bottom: 16px;
}

.signature {
        text-align: right;
        font-size: 24px;
        font-weight: 600;
}

.call2action {
        padding: 64px 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
}

.call2action .container {
        display: flex;
        background-color: #9d3814;
        padding: 64px 120px;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        color: bisque;
        flex-wrap: wrap;
        border-radius: 20px;
}

.call2action .message {
        max-width: 600px;
        flex-wrap: wrap;
}

.message h2 {
        text-align: left;
        margin: 0;
}

#sign-in input {
        border: 2px solid bisque;
        padding: 16px 32px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
        background-color: #9d3814;
        color: bisque;
}

.footer {
        background-color: #352247;
        color: bisque;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        flex: 1 1 auto;
}

.footer .p {
        padding: 32px 0;
        flex: 1;
}
